.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 16rem 1fr 16rem;
  grid-template-rows: auto 3fr 1fr;
  grid-template-areas:
    "header header header"
    "nav content sidebar"
    "footer footer footer";
}

header {
  grid-area: header;
  background-color: #1e293b;
  padding: 2rem;
}

nav {
  grid-area: nav;
  padding: 2rem;
  background-color: #334155;
}

main {
  grid-area: content;
  padding: 2rem;
  background-color: #475569;
}

aside {
  grid-area: sidebar;
  padding: 2rem;
  background-color: #64784b;
}

footer {
  grid-area: footer;
  padding: 2rem;
  background-color: #94a3b8;
}

@media (max-width: 1024px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(5rem, auto) 1fr minmax(5rem, auto) auto;
    grid-template-areas:
      "header"
      "nav"
      "content"
      "sidebar"
      "footer";
  }
}